# Development Tools.
.mypy_cache/
.ruff_cache/
__pycache__/
.idea/
.vscode/

# Environments.
.venv*/
venv*/
conda_env*/

# Python Bytecode.
*.py[cod]
*.pyc

# Distribution/Packaging.
/build/
/dist/
*.egg-info/
.pypirc

# Operating System Junk.
*.DS_Store
Thumbs.db
desktop.ini

# IndexTTS.
/cache/
checkpoints/
outputs/

# Miscellaneous
.env
voice_files/
test_scripts/