services:
  index-tts:
    image: andychenghk/indextts2-fastapi:latest
    ports:
      - "8804:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ./voice_files:/app/index-tts-fastapi/voice_files  # Optional: Mount voice files for persistence
